/*.workTable tr:hover td {
    background: #a0a0a0;
}*/
.cellTime, .tableNormal tr:hover td, .child-table-approval td {
    &.is-change {
        background: #ce6e6e;
        .item01 {
            color: #fff;
        }
        .item02 {
            color: #000;
        }
    }
    &.not-change {
        background: #b9d6b9;
    }
    &.is-late, &.is-early {
        background: #6c610e;
        color: #fff;
    }
}
.cellType, .tableNormal tr:hover td {
    &.warning {
        background: #ce9425;
    }
}
.miss-approval, .tableNormal tr.miss-approval:hover {
    .cellMemo {
        background: #ce6e6e;
        div:first-child {
            color: #fff;
        }
        .red {
            color: #ffff00;
        }
    }
}
.is-approval, .tableNormal tr.is-approval:hover {
    .cellMemo {
        background: #b9d6b9;
    }
}
.time-full, .tableNormal tr:hover td.time-full {
    background: #b9d6b9;
}
td.time-not-full, .tableNormal tr:hover td.time-not-full {
    background: #ce6e6e;
    color: #fff;
}
.cellTimeNum {
    position: relative;
    .buttons {
        position: absolute;
        top: 3px;
        width: 65px;
        left: 5px;
        letter-spacing: normal;
        a {
            letter-spacing: normal;
            margin: 0;
        }
    }
}
.approval-all {
    background: #ef7709;
    padding: 0 15px;
    top: 0;
    height: 30px;
    line-height: 30px;
    color: #fff;
    &.fixed {
        position: fixed;
        left: 23px;
    }
}
.box-tb-child {
    display: inline-block;
    width: 100%;
    margin: 0 !important;
    background-color: #fff;
    .child-table-approval {
        width: 100%;
        .time-not-full {
            white-space: nowrap !important;
        }
        .time-check {
            width: 52px;
        }
        .day-type {
            width: 85px;
        }
        tbody {
            td {
                word-break: keep-all;
                &.date {
                    width: 45px;
                }
                &.time {
                    width: 50px;
                }
                &.memo {
                    &.empty {
                        //background: #b7b7b7;
                    }
                    &.not-empty {
                        background: #ce6e6e;
                    }
                    &.is-approval {
                        background: #b9d6b9;
                    }
                }
                &.btn-group {
                    width: 70px;
                    .btn {
                        margin: 0;
                        &.btnApproval {
                            margin-bottom: 5px;
                        }
                    }
                }
                .date-status {
                    text-align: center;
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}
.tableNormal tr:hover td {
    .dayRed td {
        color: #d42f61 !important;
        background: #fbeef2 !important;
    }
    .dayBlue td {
        color: #006a96 !important;
        background: #ebf5f9 !important;
    }
    .dayGreen td {
        color: #408135 !important;
        background: #edf9eb !important;
    }
}
#approval_all_8_hours {
    &.disabled {
        background-color: #b57b46;
    }
}

$table-approval-border-color: #bfbfbf;
@mixin table-approval-border-color {
    border-right-color: $table-approval-border-color !important;
    border-left-color: $table-approval-border-color !important;
}

//CSS of them
#pageApproval {
    .tableApproval {
        > thead {
            > tr {
                > th {
                    @include table-approval-border-color;
                }
            }
        }
        > tbody {
            > tr:nth-of-type(odd) {
                background-color: rgba(0, 0, 0, .05);
            }
            > tr {
                > td {
                    @include table-approval-border-color;
                }
                &:hover {
                    > td {
                        background-color: rgba(255, 249, 214, 0.5) !important;
                    }
                }
            }
        }
        .cellEname {
            word-break: normal !important;
        }
    }
}