body {
    padding: 10px;
}
.head {
    white-space: nowrap;
    position: relative;
    img, .title {
        display: inline-block;
    }
    .title {
        margin: 0 40px 0 10px;
        line-height: 38px;
        font-weight: bold;
    }
    .fa-cog {
        font-size: 20px;
        position: absolute;
        top: 10px;
        right: 0;
    }
}
.menu {
    padding: 0;
    margin: 15px 0;
    li {
        background-color: #5e3b1b;
        display: block;
        padding: 3px;
        font-size: 14px;
        color: #fff;
        border: 1px solid #cec4ba;
        text-align: center;
        &:hover {
            cursor: pointer;
            background-color: #7e4716;
            transition: all 0.2s;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}
.info-list {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    li {
        white-space: nowrap;
    }
}
.author {
    background-color: #5e3b1b;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    white-space: nowrap;
}
